li {
  list-style-type: none;
}

.header-right {
  display: flex;
  justify-content: flex-end;

  margin-top: 10px;
  padding-left: 10px;
}

.header-right li {
  padding-right: 10px;
}

.header-right li:first-child {
  margin-right: auto;
}


.logo {
  width: 30px;
}


.menu {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu li {
  width: 80%;
}

.btn {
  width: 90%;
  margin-top: 5px;
  margin-right: auto;
}

/* main */
.main_img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main_img img{
  width: 80%;
  height:80%;
}

/* footer*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #D6D6D6;
  text-align:center;
}

footer > span {
  height: 120%;
}

/*
 * ルール一覧ページ
 */
.navbar {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  padding-left: 10px;
}

.navbar li:first-child {
  margin-right: auto;
}

.navbar li {
  margin-right: 15px;
}

.rooms {
  margin-right: 20px;
  margin-left: 20px;
}

.help {
  padding-bottom: 50px;
}

.help h2 {
  border-left: 10px solid;
  border-bottom: 2px solid;
  padding-left: 5px;
  margin-left: 20px;
}


.help .center_img{
  text-align: center;
}

.help .center_img>img{
  width: 200px;
}


.help section {
  width: 90%;
  padding-left: 25px;
  padding-right: 15px;
}

.help .box-001 {
  display: flex;
  justify-content: flex-start;
}

.help .box-001>img{
  width: 50px;
  height: 50px;
}

.help .box-001>span{
  vertical-align: bottom;
  padding-left: 5px;
}

.help section h4 {
  color: #A94442;
  border-bottom: 1px dashed #A94442;
  padding-top: 10px;
}

.help section span.turn {
  color: #3F51B5;
  border-bottom: 1px ridge #3F51B5;
}

/*
 * 部屋一覧
 */
.paginator {
  display: flex;
  justify-content: center;
}

.add-form {
  padding-right: 10px;
  padding-left: 10px;
}

.add-form fieldset {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

.add-form fieldset label{
  width: 30%;
}

.add-form fieldset input{
  width: 70%;
}

.add-form div.btn {
  text-align:center;
  width: 100%
}

.add-form div.btn button{
  width: 70%
}

/*
 * ゲーム画面
 */
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}