li {
  list-style-type: none;
}

.header-right {
  display: flex;
  justify-content: flex-end;

  margin-top: 10px;
  padding-left: 10px;
}

.header-right li {
  padding-right: 10px;
}

.header-right li:first-child {
  margin-right: auto;
}


.logo {
  width: 30px;
}

/* main */
.main_img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main_img img{
  width: 80%;
  height:80%;
}



/* footer*/

footer {
  position: fixed;
  bottom: 0;
}